body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#9D9A9A;
    color:#333;
    line-height: 1.6;
}

header {
    background-color: #D9D9D9;
    color:white;
    padding: 15px 0;
     box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: sticy; /* Mantém o cabeçalho no topo*/
    top: 0;
    z-index: 1000;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: spacebtween;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.main-nav ul {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-link {
    padding: 5px 10px;
    transition:color 0.3s;
    font-weight: bold;
}

.nav-link:hover {
    color:#530303;
}

.search-bar {
    display:flex;
    align-items: center;
    order: 3;
    width: 100%;
    margin-top: 10px;
}

.search-bar input {
    padding: 8px 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline:none;
    flex-grow: 1;
    color: #333;
}

.search-bar button {
    background-color: #A29393;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

main h1 {
    font-size: 2.2em;
    font-weight: 800;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #D32F2F;
}

main > p:first-of-type {
    font-size: 1.2em;
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
}

main p {
    margin-bottom: 1em;
    text-align: justify;
}

.imagemNoticia1 {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin:20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main p:contains {
    background-color: #FFFDE7;
    border-left: 5px solid  #FFC107; /* Borda amarela */
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    color: #616161;
}

table, th, td {
    border: 1px solid #ddd;
}

td {
    padding: 12px 15px;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr td:first-child {
    font-weight: bold;
    background-color: #f9f9f9;
    width: 35%; /*Ocupa um terço em telas maiores */
    color:#333;
}

h2 {
    font-size: 1.8em;
    color:#333;
    margin-top: 30px;
    border-bottom: 1px dashed #333;
    padding-bottom: 5px;
}

.main h2 + p {
    background-color: #EFEBE9;
    padding: 15px;
    border-radius: 6px;
    border-left: 5px solid #FFC107;
}

footer {
    background-color: #890000;
    color: white;
    text-align:center;
    padding: 15px 0;
    margin-top: 40px;
    font-size: 0.9em;
}

@media (min-widt: 768px) {
    .search-bar {
        order: initial;
        width: 250px;
        margin-top: 0;
    }

    .header-content {
        flex-wrap: nowwrap;
    }
}

@media (max-width: 600px) {
    main{
        padding: 10px;
        margin: 10px;
    }

    main h1 {
        font-size: 1.8em;
    }

    table, tbody, tr, td {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
        border-bottom: 4px;
    }

    tr:td:first-child {
        background-color: #D32F2F; 
        color: white;
        padding: 10px;
        border-radius: 4px 4px 0 0;
        border-bottom: none;
    }
      tr td:last-child {
        padding-top: 10px;
        border-radius: 0 0 4px 4px;
    }
}